.common-left-mg {
  margin-left: 10px;
}

.common-right-mg {
  margin-right: 10px;
}

.common-x-mg {
  margin: 0 10px;
}

.common-y-mg {
  margin: 10px 0;
}

.common-bottom-mg {
  margin-bottom: 10px;
}

.common-to